<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="container">
    <span class="text-muted">This is a collaborative project part of the Lighthouse Labs curriculum.</span>
  </div>
</footer>
