<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Edit Map</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Leaflet CSS -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    </head>

<body>
  <%- include('partials/_header') %>
  <main class="container">
  <% if (ownerIsLoggedIn) { %>
    <h2>You are editing: <%= mapEdit %></h2><hr>
      <form class="form-inline" method="POST" action=<%=`/maps/${mapID}`%> >
        <div class="form-group mb-2">
          <label for="title">New Title:</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" type="text" name="newTitle" placeholder="Enter new map title">
        </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
  <% } else { %>
    <h2>401 - Unauthorized</h2>
    <p>You must be logged in and own this map to edit it!</p>
  <% } %>
  </main>
      <%- include('partials/_footer') %>

  <!-- Framework scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5075b93769.js" crossorigin="anonymous"></script>
  <!-- JS Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</body>

</html>
